.folder {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    width: fit-content;
    height: fit-content;

    gap: 5px;
    margin: 0px;
    padding: 0px;

    p {
        margin: 0px;
        padding: 0px;
    }
}

.file {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;

    width: fit-content;
    height: fit-content;

    gap: 5px;
    margin: 0px;
    padding: 0px;

    p {
        margin: 0px;
        padding: 0px;
    }
}
